In [2]:
import numpy as np
import yfinance as yf
from scipy.stats import norm
import pandas as pd
import datetime

In [6]:
start_date = datetime.datetime(2014, 1, 1)
end_date = datetime.datetime(2018, 1, 1)
stock = 'TSLA'

## Download dos dados

In [8]:
data = {}
ticker = yf.download(stock, start_date, end_date)
data[stock] = ticker['Adj Close']
stock_data = pd.DataFrame(data)

[*********************100%***********************]  1 of 1 completed

## Cálculo dos retornos

In [11]:
stock_data['returns'] = np.log(stock_data[stock] / stock_data[stock].shift(1))

stock_data = stock_data[1:]

stock_data

                 TSLA   returns
Date
2014-01-03  29.912001 -0.003604
2014-01-06  29.400000 -0.017265
2014-01-07  29.872000  0.015927
2014-01-08  30.256001  0.012773
2014-01-09  29.506001 -0.025101
...               ...       ...
2017-12-22  65.040001 -0.019670
2017-12-26  63.458000 -0.024624
2017-12-27  62.327999 -0.017968
2017-12-28  63.071999  0.011866
2017-12-29  62.270000 -0.012797

[1006 rows x 2 columns]

## Cálculo do Valor em Risco

In [19]:
# assumindo que os retornos são normalmente distribuídos
mu = np.mean(stock_data['returns'])
sigma = np.std(stock_data['returns'])

# em relação ao investimento
S = 1e4 # 10 mil
# intervalo de confiança
c = 0.95
# tempo
n = 1 # amanhã

var = S * (mu * n - sigma * np.sqrt(n) * norm.ppf(1 - c))
print('O valor em risco é $%0.2f' % var)

O valor em risco é $426.71

In [16]:
# para um dia não perderemos mais do que 426.71$ se investirmos 10 mil. considerando o risco amanhã