In [1]:
import numpy as np
import yfinance as yf
from scipy.stats import norm
import pandas as pd
import datetime

In [33]:
def download_data(stock, start_date, end_date):
    data = {}
    ticker = yf.download(stock, start_date, end_date)
    data[stock] = ticker['Adj Close']
    return pd.DataFrame(data)


# this is how we calculate the VaR for any days in the future
def calculate_var_n(position, c, mu, sigma, n): # c confidance level
    var = position * (mu * n - sigma * np.sqrt(n) * norm.ppf(1 - c)) # ppf is the inverse cumulative
    return var

In [28]:
start = datetime.datetime(2014, 1, 1)
end = datetime.datetime(2018, 1, 1)

stock_data = download_data('C', start, end)

stock_data['returns'] = np.log(stock_data['C'] / stock_data['C'].shift(1))

stock_data = stock_data[1:]

stock_data

[*********************100%***********************]  1 of 1 completed

                    C   returns
Date
2014-01-03  46.101662  0.021388
2014-01-06  46.455627  0.007649
2014-01-07  46.775059  0.006853
2014-01-08  47.318954  0.011561
2014-01-09  47.655659  0.007090
...               ...       ...
2017-12-22  66.981354 -0.004362
2017-12-26  66.351372 -0.009450
2017-12-27  66.448967  0.001470
2017-12-28  66.617569  0.002534
2017-12-29  66.023094 -0.008964

[1006 rows x 2 columns]

In [42]:
# this is the investment (stocks or whatever)
S = 1e6 # 1 million
# confidence level - this time it is 95%
c = 0.95

# we assume that daily returns are normally distributed
mu = np.mean(stock_data['returns'])
sigma = np.std(stock_data['returns'])

print('Value at risk is $%0.2f' % calculate_var_n(S, c, mu, sigma, 1))

Value at risk is $25396.71

In [43]:
# for 1 day
# with 95 % of conficence, we are not going to lose more than 25.000 dollars if we invest a million into C stocks
# considering the value at risk tomorrow